body {
	width: 50%;
	margin: 0px auto;
	box-sizing: border-box;
}

.new-item-header {
	width: 100%;
	margin: 10px auto;
}

#newTaskForm {
	width: 100%;
	margin: 10px auto;
}

.panel {
	display: inline-block;
	width: 33%;
}